<nav class="w-full md:block md:w-auto">
    <ul class="flex flex-row pl-4">
        <li class="w-40">
            <a routerLink="/vs" class="block">virtaul scroll for list</a>
        </li>
        <li class="w-40">
            <a routerLink="/rxjs" class="block">RXJS</a>
        </li>
        <li class="w-40">
            <a routerLink="/parent" class="block">parent component</a>
        </li>
        <li class="w-40">
            <a routerLink="/calci" class="block">Calculator App</a>
        </li>
    </ul>
</nav>



<router-outlet></router-outlet>


<!-- <div appCustom1:data>

</div> -->




